@import '../../style/index.less';

.flex-container {
  margin: 0 15px;
  .but{
    background-color: @color;
    color:white;
  }
  .text-tip{
    text-align: center;
    font-size: 0.15rem;
    span{
      color:@color;
      margin-left: 0.1rem;
    }
  }
}